<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>CutCut!</title>

    <link rel="stylesheet" href="../styles/icons.css">
    <link rel="stylesheet" href="../styles/globals.css">
    <link rel="stylesheet" href="../styles/image-box.css">
    <link rel="stylesheet" href="../styles/containers.css">
    <link rel="stylesheet" href="../styles/file-input.css">  
    <link rel="stylesheet" href="../styles/color-palette.css"> 
    <link rel="stylesheet" href="../styles/main-structures.css">
</head>
<body class="center-container">
    <main class="center-container">
        <div class="center-container" id="drop-area">
            <input type="file" class="file-input" id="image-input">
        </div>
        <div id="image-box">
            <img src="" id="main-image">
        </div>
    </main>

    <script src="../scripts/main.js" type="module"></script>
</body>
</html>