<div class="video-card">
    <div class="video-thumbnail-box">
        <img src="c:/Users/lipea/Desktop/ProtoDrop/src/client/assets/thumbnail-alert.svg" alt="video-thumbnail" class="video-thumbnail">
        <p class="duration-time"></p>
        <button class="add-cart-btn">
            <img src="../assets/cart-icon.svg" alt="cart-icon">
        </button>
    </div>
    <div class="vertical-container video-info-box">
        <div class="vertical-container video-title-box">
            <p></p>
        </div>
        <div class="vertical-container video-stats-box">
            <p></p>
        </div>
    </div>
</div>
